*{
    margin: 0;
    padding: 0;
    color: #f0f0f0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    background-color:#394956 ;
}
.header{
    height: 9vh;
}
.nav{
    display: flex;
    justify-content: end;
    width: 100%;
    height: 9vh;
    background-color: #be3144;
    position: fixed;
}

a{
    line-height: 0.5;
    margin:10px;
    padding: 20px;
    text-decoration: none;
    font-size: x-large ;
    display: block;
}

.nav-item:hover{
    background-color: #394956;
}

#hero-section{
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image:radial-gradient(circle at 100%, #333, #333 50%, #eee 75%, #333 75%)
}
#hero-section > p{
    color: rgb(230, 22, 22);
    font-size: larger;
}
#works > h1{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
#work{
display: flex;
flex-direction: row;
flex-wrap:wrap;
justify-content:center  ;
align-items: center;

}


.project > a{
    background-color:#333;
}
img{
    width: 400px;
    height: 400px;
}
.desc{
    /* margin-left: 30px; */
    /* margin-top: 30px; */
    padding: 30px;
    background-color: #574f4f;
}

.button{
    color: #333;
    width: 150px;
    height: 50px;
    border-radius: 5px ;
    border: 1px transparent;
    margin-left: 700px;
    margin-bottom: 50px;
    font-size: larger;
    font-weight: 500;
}

.footer{
    width: 100%;
    height: 100vh;
    background-color:#333;
}
.descr{
    padding: 50px;
font-size: 2rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    
}
.social{
    display:flex;
    justify-content: center;
    padding: 50px;
}

.line{
    width: 100%;
    height: 0.7vh;
    background-color: #be3144;
    margin-top: 170px;
}
.copyright{
    display: flex;
justify-content: space-around;
padding: 50px;
font-size: 1.5rem;

}